{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Try Django 1.9{% endblock head_title %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href='{% static "css/base.css" %}'/>

    <style>
        {% block style %} {% endblock style %}
    </style>
    {% block head_extra %} {% endblock head_extra %}
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>


{% include "messages_display.html" %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href='{% url "posts:list" %}'>Home</a></li>
        {% block post_detail_link %}
        {% endblock %}

        {% if not request.user.is_authenticated %}
        <li class="pull-right"><a href='{% url "register" %}'>Register</a></li>
        <li class="pull-right"><a href='{% url "login" %}'>Login</a></li>
        {% else %}
        <li class="pull-right"><a href='{% url "logout" %}'>Logout</a></li>
        {% endif %}
    </ol>
    {% block content %}

    {% endblock content %}
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
<script type="application/javascript">
    $(document).ready(function(){
//        $(".content-markdown").each(function () {
//            var content = $(this).text();
//            console.log(content);
//            var markedContent = marked(content);
//            console.log(markedContent);
//            $(this).html(markedContent);
//        });
        $(".post-detail-item img").each(function () {
            $(this).addClass("img-responsive");
        });

        var contentInput = $("#id_content");

        function setContent(value) {
            var markedContent = marked(value || '');
            $("#preview-content").html(markedContent);
            $("#preview-content img").each(function () {
                $(this).addClass("img-responsive");
            })
        }
        setContent(contentInput.val());

        contentInput.keyup(function () {
            var newContent = $(this).val();
            setContent(newContent);
        });

        var titleInput = $("#id_title");

        function setTitle(value) {
            $("#preview-title").text(value);
        }

        setTitle(titleInput.val());

        titleInput.keyup(function () {
            var newContent = $(this).val();
            setTitle(newContent);
        });

        $(".comment-reply-btn").click(function(event){
           event.preventDefault();
            $(this).parent().next(".comment-reply").fadeToggle();
        });

    });
</script>

</body>
</html>