{% extends "base.html" %}

{% block content %}

    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }}</h1>
        <form method="get" action="">
            <div class="input-group">
                <input type="text" class="form-control" name="q" placeholder="Search posts" value="{{ request.GET.q }}"/>
                <span class="input-group-btn">
                    <!--<input class="btn btn-default" type="submit" value="Search"/>-->
                    <button class="btn btn-default" type="submit"/><i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </div>
        </form>
        <br/>
        {% for obj in object_list %}
        <div class="row">
            <div class="col-sm-12">
                <div class="thumbnail">
                    {% if obj.image %}
                        <img src="{{ obj.image.url }}" class="img-responsive"/>
                    {% endif %}
                    <div class="caption post-detail-item">
                        {% if obj.draft %}<h3>Draft</h3>{% endif %}
                        {% if obj.publish > today %}<h3>Future Post</h3>{% endif %}
                        <h3><a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a><small> {{ obj.publish }}</small></h3>
                        {% if obj.user.get_full_name %}<p>Author: {{ obj.user.get_full_name }}</p>{% endif %}
                        {{ obj.get_markdown | truncatewords_html:50}}
                        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if object_list.has_previous %}
                    <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                </span>

                {% if object_list.has_next %}
                    <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}
